@page
@model View.Pages.Empresa.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Empresa</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Empresa.NomeEmpresa)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Empresa.NomeEmpresa)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Empresa.Id" />
        <input type="submit" value="Delete" class="btn btn-danger"/> 
        <a asp-page="./Index" class="btn btn-success">Back to List</a>
    </form>
</div>
