@page
@model View.Pages.Empresa.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Empresa</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Empresa.NomeEmpresa)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Empresa.NomeEmpresa)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Empresa.Id" class="btn btn-success">Edit</a>
    <a asp-page="./Index" class="btn btn-primary">Back to List</a>
</div>
